/* Neste arquivo css, vamos apenas linkar todos os outros arquivos CSS3 e deixar só as configurações principais*/ 


/* ---------------------------------------------
Table of contents
------------------------------------------------
01. import partials
02. font & reset css
03. reset
04. global styles
05. header
06. login
07. footer
08. preloader
--------------------------------------------- */

/*
---------------------------------------------
Import partials
---------------------------------------------
*/

@import url(./partials/page-landing.css);
@import url(./partials/page-rent.css);
@import url(./partials/custom.css);

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/*
  reset
*/

* {
    box-sizing: border-box;
    transition-duration: 0.6s;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}
  
.clearfix {
  display: inline-block;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

a {
  text-decoration: none !important;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: rgba(136, 136, 136, 1);
}

/*
---------------------------------------------
global styles
---------------------------------------------
*/
:root {
  --color-background: rgb(243, 243, 247);
  --color-primary-light: rgba(36, 242, 109, 1);
  --color-primary: rgba(25, 166, 75, 1);
  --color-primary-dark: rgba(1, 82, 47, 1);
  --color-secondary: rgba(251, 167, 11, 1);
  --color-secondary-dark: rgba(241,85,106,1);
  --color-title-in-primary: rgba(9, 9, 9, 1);
  --color-text-title: rgba(12, 12, 12, 1);
  --color-text: rgba(16, 16, 16, 1);
  --color-footer-text: rgb(252, 252, 252);
  --color-line: rgb(226, 226, 236);

  font-size: 62.5%; /* 10px */
}

html, body {
  overflow-x: hidden;
}

em {
  color: var(--color-secondary);
  font-style: normal;
}

small {
  text-align: center;
  opacity: 0.9;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-column {flex-direction: column;}

.flex-row{flex-direction: row;}

/*
---------------------------------------------
header
---------------------------------------------
*/

header.header-area {
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: var(--color-background);
  box-shadow: 0px 0px 5px 0px rgba(70, 70, 70, 0.7);
}

header .main-nav {  
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
}

header ul li #login {
  cursor: pointer;
}
  
.main-nav .logo {
  font-size: 2.7rem;
  letter-spacing: 2px;  
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav .logo a {
  transition: .6s;
}

.main-nav .logo a:hover {
  color: var(--color-primary);
}

.main-nav .menu-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.main-nav .menu-section ul {
  display: flex;
  justify-content: space-between;
}

.main-nav .menu-section ul li {
  padding: 0 1.4rem;
  text-decoration: none;
  line-height: 4rem;
}

.main-nav ul li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: .5s;
}

.main-nav ul li a:hover {
  color: var(--color-primary);
}


@media (max-width: 1000px) {
  .main-nav ul li {
    padding: 0 .6rem;
  }

  .main-nav ul li a {
    font-size: 1.3rem;
  }
}

@media (max-width: 850px) {
  .main-nav .menu-section {
    width: auto;
  }

  .main-nav .menu-section .nav {
    display: none;
    transition-duration: .6s;
  }

  .main-nav .menu-toggle {
    width: 40px;
    height: 30px;
  }

  .main-nav .one,
  .main-nav .two,
  .main-nav .three {
    background-color: var(--color-text-title);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 6px;
    transition-duration: .4s;
  }

  .main-nav .menu-section.on {
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    background-image: linear-gradient(145deg, var(--color-secondary), var(--color-secondary-dark) 100%);
  }

  .main-nav .menu-section.on .menu-toggle {
    text-align: end;
    position: absolute;
    top: 2rem;
    right: 6%;
  }

  .main-nav .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .main-nav .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .main-nav .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .main-nav .menu-section.on .menu-toggle .one,
  .main-nav .menu-section.on .menu-toggle .two,
  .main-nav .menu-section.on .menu-toggle .three {
    width: 40px;
    background-color: white;
  }

  .main-nav .menu-section.on .nav {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .main-nav .menu-section.on ul.nav li {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  .main-nav .menu-section.on ul.nav:nth-child(2) {
    margin-top: 20%;
  }

  .main-nav .menu-section.on ul.nav li a {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
    line-height: 9rem;
    color: rgb(255, 255, 255);
  }
}

/* 
---------------------------------------------
Modal login/register (iguais)
--------------------------------------------- 
*/

 .sign-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(37, 37, 37, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

 .sign-box:target {
  opacity: 1;
  pointer-events: auto;
}

 .sign-box .box-content {
  display: flex;
  flex-direction: space-between;
}

 .sign-box .box-content div {
  border-radius: 8px 8px 8px 8px;
}

 .sign-box .box-content .big-box {
  width: 50vw;
  height: 60vh;
  background: rgba(129,227,120,1);
  background: rgba(129,227,120,1);
  background: -moz-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(129,227,120,1)), color-stop(100%, rgba(137,245,162,1)));
  background: -webkit-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
  background: -o-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
  background: -ms-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
  background: linear-gradient(to right, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81e378', endColorstr='#89f5a2', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81e378', endColorstr='#89f5a2', GradientType=1 );
  align-self: center;
  display: inline-block;
  -webkit-box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
  -moz-box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
  box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
}

.sign-box .box-content .box img {
  width: 70%;
  margin: 0;
  animation: rotate .7s linear infinite;
}

 .sign-box .box-content .small-box {
  width: 25vw;
  height: 75vh;
  background: rgba(193,255,128,1);
  background: -moz-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(193,255,128,1)), color-stop(100%, rgba(255,246,117,1)));
  background: -webkit-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
  background: -o-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
  background: linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ff80', endColorstr='#fff675', GradientType=1 );
  -webkit-box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
  -moz-box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
  box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
  display: inline-block;
}

@media (max-width: 900px) {
  .sign-box .box-content .box {
    width: 100vw;
    height: 100vh;
    display: block;
  }
}

@media (max-width: 900px) {
  .sign-box .box-content .box {
    width: 100vw;
    height: 100vh;
    display: block;
    align-items: 0;
    flex-direction: 0;
    justify-content: 0;
  }
}

.sign-box .box-content .big-box h2 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #B0FF5D, #FFF450 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin: 5px;
}

.box h1, .box h2, .box h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.back {
  font-size: 2.5rem;
  margin: 10px;
}

.sign-box .box-content .box form h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 5%;
}

.sign-box .box-content .box form input {
  border-radius: 5px;
  font-family: 'Syne Mono', monospace;
  background-color: #ccffcc;
}

.sign-box .box-content .big-box h3 {  
  background: -webkit-linear-gradient(45deg, #B0FF5D, #FFF450 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-top: 5%;
  font-weight: 800;
}

.sign-box .box-content .small-box h1 {  
  background: -webkit-linear-gradient(45deg, #B0FF5D, green 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10%; /* temp */
}

.sign-box .box-content .box form .container-form input {
  height: 4.5vh
}

.sign-box .box-content .small-box form button {
  background: rgba(99,232,73,1);
  background: -moz-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(99,232,73,1)), color-stop(50%, rgba(177,255,93,1)), color-stop(100%, rgba(255,244,80,1)));
  background: -webkit-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: linear-gradient(135deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63e849', endColorstr='#fff450', GradientType=1 );
  border-radius: 100%;
  width: 5vw;
  height: 10vh;
  margin-top: 17%;
}

@media (max-width: 1000px) {
  .sign-box .box-content .small-box form button, .sign-box .box-content .small-box form button:hover {
    width: 20%;
    height: 50%;
    border: 0;
    background: none;
  }
}

.sign-box .box-content .small-box form button:hover, .sign-box .box-content .big-box form button:hover {
  background: rgba(99,232,73,1);
  background: -moz-linear-gradient(45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(99,232,73,1)), color-stop(50%, rgba(177,255,93,1)), color-stop(100%, rgba(255,244,80,1)));
  background: -webkit-linear-gradient(45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -o-linear-gradient(45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: linear-gradient(45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63e849', endColorstr='#fff450', GradientType=1 );
}

@media (max-width: 1000px) {

  .sign-box .box-content .small-box form {margin-top: 30%;}

  .sign-box .box-content .small-box form button:hover {
    width: 20%;
    height: 50%;
    border: 0;
    background: none;
  }

}

  .sign-box .menu-toggle {
    width: 40px;
    height: 30px;
    text-align: end;
    position: absolute;
    top: 2rem;
    right: 6%;
  }

  .sign-box .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .sign-box .menu-toggle .two {
    opacity: 0;
  }

  .sign-box .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .sign-box .one,
  .sign-box .two,
  .sign-box .three {
    background-color: var(--color-text-title);
    height: 5px;
    width: 70%;
    margin: 6px auto;
    border-radius: 6px;
    transition-duration: .4s;
  }

.sign-box .box-content .small-box small {margin-top: 17%;}

@media (max-width: 900px) {

  .sign-box .box-content .not-a-form {
    display: none;
  }

  .sign-box .box-content .big-box .container-form {
    height: 50vh;
    margin-top: 20%;
  }

  .sign-box .box-content .big-box label {
    margin-top: 10%;
  }

  .sign-box .box-content .big-box h3 {margin-bottom: 10%;}

}

.sign-box .box-content .big-box form button {
  position: absolute;
  font-family: 'Syne Mono', monospace;
  border-radius: 5px;
  width: 10%;
  top: 78%;
  left: 58%;
  background: rgba(99,232,73,1);
  background: -moz-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(99,232,73,1)), color-stop(50%, rgba(177,255,93,1)), color-stop(100%, rgba(255,244,80,1)));
  background: -webkit-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  background: linear-gradient(135deg, rgba(99,232,73,1) 0%, rgba(177,255,93,1) 50%, rgba(255,244,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63e849', endColorstr='#fff450', GradientType=1 );
}

/* Aditional styles (need changes) */

#login .box-content .big-box {border-top-right-radius: 0;border-bottom-right-radius: 0;}
#register .box-content .big-box {border-top-left-radius: 0;border-bottom-left-radius: 0;}

@media (max-width: 900px) {
  .sign-box .box-content .big-box form button {
    position: static;
    margin-top: 15%;
    align-self: center;
    width: 30%;
  }
}

/*  */

form label {
  margin-top: 3%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Syne Mono', monospace;
}

@keyframes rotate {
0% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes go-back {
	from {
		transform: translateX(100px);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes back-go {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(0x);
	}
}


/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

footer#about-us {
  width: 100vw;
  padding: 2rem 3rem;
  background-color: var(--color-primary);
}

footer#about-us p{
  color: var(--color-footer-text);
}

footer#about-us .footer-title h2 {
  margin: 4rem 4rem;
  color: var(--color-footer-text);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

footer#about-us .footer-text {
  margin: 1rem 0px 6rem 0px;
  padding: 0px 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer#about-us .footer-text p {
  width: 60%;
}

footer#about-us .footer-text p:nth-child(1){
 margin-right: 1rem;
}

footer#about-us .sub-footer {
  margin: 4rem 0px 2rem 0px;
  padding-top: 3rem;
  text-align: center;
  border-top: 2px solid rgba(226, 226, 236, 0.3);
}

@media (max-width: 800px) {
  footer#about-us .footer-text {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  footer#about-us .footer-content .footer-title {
    text-align: center;
  }

  footer#about-us .footer-text p {
    width: 90%;
    text-indent: 2rem;
  }

  footer#about-us .footer-text p:first-child{
    margin-bottom: 2rem;
  }

}
