#bikee-historical {
    background-image: url(../../media/img/bike-background-invert-small.png);
}

#bikee-historical .container {
    min-height: 100vh;
}

#bikee-historical .row {
    display: flex;
    align-self: center;
    justify-content: center;
}

#bikee-historical .item.name {
    min-width: 44%;
}

#bikee-historical .item.img {
    min-width: 19%;
}

#bikee-historical .item.price {
    min-width: 15%;
}

#bikee-historical .item.date {
    min-width: 22%;
}

#bikee-historical .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    font-size: 1.65rem;
    border: 1px solid var(--color-line);
    margin: 0;

}

#bikee-historical .item img {
    max-width: 90%;
}