#log-in,
#register {
    background-image: url(../../media/img/bike-background-invert-small.png);
}

.header-login-register {
    height: 9rem;
    width: 100%;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.131);
}

.header-login-register img{
    height: 100%;
    cursor:pointer;
}

.login-register {
    width: 100vw;
    min-height: calc(100vh - 9rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.login-register form,
form#login,
form#register {
    margin: 6rem auto;
    padding: 5rem 4rem;
    border-radius: 12px;
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.105);
    width: 50%;
    max-width: 646px;
    font-size: 2rem;
}
  
.login-register form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
.login-register form h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.login-register form .special-input {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.56rem;
    letter-spacing: .2px;
    font-weight: 500;
    font-family: Poppins;
    border-radius: 10px;
    border: 3px solid rgba(25, 166, 75, 0);
    background: rgba(0, 0, 0, 0.04);
    margin: 1rem 0;
}

.login-register form .special-input img {
    width: 35px;
}

.login-register form .special-input input {
    height: 100%;
    width: 90%;
    border-radius: 10px;
    font-size: 1.56rem;
    letter-spacing: .2px;
    font-weight: 500;
    font-family: Poppins;
    background: none;
    border: 3px solid rgba(25, 166, 75, 0);
    transition: 0.01s;
    cursor: text;
}

.login-register form .special-input:nth-child(2) {
    margin-top: 2rem;
}

.login-register form .special-input input::placeholder {
    font-size: 1.56rem;
    letter-spacing: .2px;
    font-weight: 500;
    font-family: Poppins;
}

.login-register form .special-input input:focus {
    border: none;
    outline: none;
}

.login-register form .special-input input[type=date] {
    transition: 0.8s;
    text-align: right;
    padding-left: 0.03rem;
}

.login-register form .special-input input[type=date]::before,
.login-register form .special-input input[type=date].empty::before {
    font-size: 1.56rem;
    letter-spacing: .2px;
    text-align: center;    
    font-weight: 500;
    font-family: Poppins;
    content: attr(placeholder);
    right: 0.5rem;
    opacity: 0.65;
    border: none;
    transition: 0.8s;
}

.login-register form .special-button {
    height: 5rem;
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 2rem;   
    border: none; 
    border: 1px solid var(--color-line-in-white);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(13, 175, 70);
    transition-duration: 0.8s;
}
  
.login-register form .special-button:hover {
    background-color: rgb(12, 117, 49);
}
  
.login-register form p {
    margin-top: 1.3rem;
}
  
.login-register form p em {
    font-weight: 600;
    cursor: pointer;
    word-wrap: unset;
}
  
@media (max-width: 1300px) {
    .login-register form,
    form#login,
    form#register  {
      width: 50%;
    }
}
  
@media (max-width: 1200px) {
    .login-register form,
    form#login,
    form#register  {
      width: 70%;
    }
}

@media (max-width: 750px) {
    .login-register form,
    form#login,
    form#register  {
      width: 80%;
    }
}

@media (max-width: 700px) {
    .login-register form .special-input input[type=date] {
        padding-left: 0.05rem;
        font-size: 1.4rem;
    }

    .login-register form .special-input input[type=date].empty {
        color: rgba(0, 0, 0, 0.00);
    }

    
    .login-register form .special-input input[type=date].empty::before {
        font-size: 1.4rem;
        content: attr(placeholder) !important;
        color: var(--color-text);
    }

    .login-register form .special-input input[type=date]::before {
        font-size: 1.4rem;
        content: '';
    }

    .login-register form .special-input input[type=date]:focus {
        color: black;
    }

    .login-register form .special-input input[type=date]:focus:before,
    .login-register form .special-input input[type=date].empty:focus:before {
        content: '';
        font-size: 0px;
        color: rgba(0, 0, 0, 0.00);
    }
}

@media (max-width: 670px) {
    .login-register form .special-input input[type=date] {
        padding-left: 0.05rem;
    }

    .login-register form .special-input input::placeholder {
        font-size: 1.4rem;
    }

    .login-register form .special-input input[type=date]::before {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .header-login-register {
        height: 5rem;
        width: 100%;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .login-register {
        min-height: calc(100vh - 5rem);
    }

    .login-register form h3 {
        font-size: 2.4rem;
    }

    .login-register form,
    form#login,
    form#register {
        padding-left: 1.95rem;
        padding-right: 1.95rem;
        width: 90%;
    }

    .login-register form input,
    .login-register form input::placeholder {
        font-size: 1.3rem;
    }
}

@media (max-width: 350px) {
    .login-register form,
    form#login,
    form#register {
        width: 96%;
    }

    .login-register form .special-input {
        
        margin: 0.7rem 0;
    }

    .login-register form .special-input img {
        padding-left: .55rem;
        width: 30px;
    }

    .login-register form .special-input input {
        font-size: 1.25rem;
        padding-left: 1rem;
    }

    .login-register form .special-input input::placeholder {
        font-size: 1.25rem;
        padding-left: .5rem;
    }

    .login-register form .special-input input[type=date]::before,
    .login-register form .special-input input[type=date].empty::before {
        font-size: 1.25rem;
        padding-left: 1rem;
        text-align: left;
    }

    .login-register form .special-button {
        height: 4.5rem;
    }
}