#page-landing section#welcome-area {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}

#page-landing section#welcome-area .left-text {
    height: 85%;
    width: 80%;
    display: flex;
    justify-self: center;
    align-items: center;
}

#page-landing section#welcome-area .left-text h1 {    
    font-size: 5.5rem;
    margin-bottom: 20px;
    font-weight: 800;
}

#page-landing section#welcome-area .left-text p {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 300;
}

#page-landing section#welcome-area .right-image {
    text-align: center;
    width: 100%;
}

#page-landing section#welcome-area .right-image img {
    width: 100%;
}

/* 
---------------------------------------------
Advantage Bikee
--------------------------------------------- 
*/

#page-landing #advantage-bike {
    margin: 0rem auto 20rem auto;
    width: 85vw;

    display: flex;
    justify-content: space-between;
}

#page-landing #advantage-bike .advantage-item {
    width: 25vw;
}

#page-landing #advantage-bike .advantage-item h2 {
    font-size: 12rem;
    color: rgba(16, 16, 16, 0.05);
    margin-bottom: -8rem;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center {
    width: 100%;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center img {
    width: 60%;
    margin-bottom: 3rem;
}

#page-landing #advantage-bike .advantage-item:last-child img{
    margin-top: 1.5rem;
    width: 78%;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center h4 {
    font-size: 2.1rem;
    margin-bottom: 1.4rem;
}

#page-landing #advantage-bike .advantage-item h4,
#page-landing #advantage-bike .advantage-item p {
    width: 80%;
    margin: 0 auto;
}

/* 
---------------------------------------------
hire-bikee
--------------------------------------------- 
*/

#page-landing {
    
}