#page-landing section#welcome-area {
    margin: 0 0 8rem 0;
    height: 100vh;
    background-image: url(../../media/img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}

#page-landing section#welcome-area .left-text {
    height: 80%;
    width: 40%;
    padding: 20% 5% 0 5%;
}

#page-landing section#welcome-area .left-text h1 {    
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: 800;
}

#page-landing section#welcome-area .left-text p {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 300;
}

#page-landing header ul li #login {
    cursor: pointer;
}

#page-landing .loginBox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#page-landing .loginBox:target {
    opacity: 1;
    pointer-events: auto;
}

#page-landing .loginBox .box-content {
    display: flex;
    flex-direction: space-between;
}

#page-landing .loginBox .box-content div {
    border-radius: 10px 10px 10px 10px;
}

#page-landing .loginBox .box-content .form-login {
    width: 50vw;
    height: 60vh;
    background: rgba(129,227,120,1);
    background: rgba(129,227,120,1);
    background: -moz-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(129,227,120,1)), color-stop(100%, rgba(137,245,162,1)));
    background: -webkit-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    background: -o-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    background: -ms-linear-gradient(left, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    background: linear-gradient(to right, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81e378', endColorstr='#89f5a2', GradientType=1 ); linear-gradient(to right, rgba(129,227,120,1) 0%, rgba(137,245,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81e378', endColorstr='#89f5a2', GradientType=1 );
    align-self: center;
    display: inline-block;
    -webkit-box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
    -moz-box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
    box-shadow: 10px 10px 300px -54px rgba(99,228,9,1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#page-landing .loginBox .box-content .form-illustration {
    width: 25vw;
    height: 75vh;
    background: rgba(193,255,128,1);
    background: -moz-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(193,255,128,1)), color-stop(100%, rgba(255,246,117,1)));
    background: -webkit-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
    background: -o-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
    background: linear-gradient(45deg, rgba(193,255,128,1) 0%, rgba(255,246,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ff80', endColorstr='#fff675', GradientType=1 );
    -webkit-box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
    -moz-box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
    box-shadow: 0px 0px 300px 16px rgba(210,232,73,1);
    display: inline-block;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}