.special-form {
    margin: 6rem auto;
    padding: 5rem 4rem;
    border-radius: 12px;
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.105);
    width: 50%;
    max-width: 646px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
.special-form h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.special-form p {
    margin-top: 1.3rem;
}
  
.special-form p em {
    font-weight: 600;
    cursor: pointer;
    word-wrap: unset;
}

@media (max-width: 1300px) {
    .special-form {
      width: 50%;
    }
}

@media (max-width: 1200px) {
    .special-form {
      width: 70%;
    }
}

@media (max-width: 810px) {
    .special-form {
      width: 80%;
    }
}

@media (max-width: 500px) {
    .special-form h3  {
        font-size: 2.4rem;
    }
    
    .special-form {
        padding-left: 1.95rem;
        padding-right: 1.95rem;
        width: 90%;
    }
}

@media (max-width: 350px) {
    .special-form {
        width: 96%;
    }
}