#page-landing section#welcome-area {
    margin-bottom: 8rem;
    height: 87vh;
    display: flex;
}

#page-landing section#welcome-area .left-text {
    margin: 0 auto;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page-landing section#welcome-area .left-text h1 {    
    font-size: 6rem;
    margin-bottom: 20px;
    font-weight: 800;
}

#page-landing section#welcome-area .left-text p {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

#page-landing section#welcome-area .right-image {
    height: 100%;
    width: 60%;
    text-align: end;
}

#page-landing section#welcome-area .right-image img {
    margin-top: 10.75%;
    width: 90%;
}


/* 
---------------------------------------------
advantage-bike
--------------------------------------------- 
*/

#page-landing #advantage-bike {
    margin: 0rem auto 1rem auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

#page-landing #advantage-bike .advantage-item {
    width: 30vw;
}

#page-landing #advantage-bike .advantage-item h2 {
    font-size: 12rem;
    color: rgba(16, 16, 16, 0.05);
    margin-bottom: -8rem;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center {
    width: 100%;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center img {
    width: 60%;
    margin-bottom: 3rem;
}

#page-landing #advantage-bike .advantage-item:last-child img{
    margin-top: 1.5rem;
    width: 78%;
}

#page-landing #advantage-bike .advantage-item .advantage-txt-center h4 {
    font-size: 2.7rem;
    margin-bottom: 1.7rem;
}

#page-landing #advantage-bike .advantage-item h4,
#page-landing #advantage-bike .advantage-item p {
    width: 80%;
    margin: 0 auto;
}

#page-landing #advantage-bike .advantage-item p {
    font-size: 1.7rem;
}
/* 
---------------------------------------------
rent-bikee
--------------------------------------------- 
*/

#page-landing section#rent-bikee {
    padding-top: 24rem;
    padding-bottom: 28rem;
    display: flex;
    justify-content: space-between;
    background-image: url(../../media/img/left-bg-decor.png);
    background-repeat: no-repeat;
    background-position: left top;

}

#page-landing section#rent-bikee .right-text {
    width: 45%;
    margin-top: 7rem;
    padding-right: 10%;
}

#page-landing section#rent-bikee .right-text h4 {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
    text-align: center;
}

#page-landing section#rent-bikee .right-text p {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    line-height: 2.9rem;
}

#page-landing section#rent-bikee .right-text button.main-button {
    width: 100%;
    height: 4.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 2rem;    
    border: 1px solid var(--color-line-in-white);
    border-radius: 8px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    background-color: rgb(13, 175, 70);
    transition-duration: 0.8s;
}

#page-landing section#rent-bikee .right-text .main-button:hover {
    color: rgb(228, 228, 228);
    background-color: rgb(12, 117, 49);
}

/* 
---------------------------------------------
Mobile
--------------------------------------------- 
*/

@media (max-width: 1015px) {
    #page-landing #advantage-bike .advantage-item h2 {
        font-size: 9rem;
    }

    #page-landing section#rent-bikee .right-text {
        padding: 0 5%;
    }
    
}

@media (max-width: 900px) {
    #page-landing section#welcome-area {
        margin-bottom: 8rem;
        height: auto;
        flex-flow: column-reverse;
    }

    #page-landing section#welcome-area .left-text {
        margin: 16rem auto 8rem auto;
        width: 81%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-landing section#welcome-area .left-text h1 {
        text-align: center;
    }

    #page-landing section#welcome-area .right-image {
        width: 100%;
        margin-top: 0;
    }

    #page-landing section#welcome-area .right-image img {
        margin-top: 0;
        width: 80%;
    }

    /* 
    Advantage-bike
    */

    #page-landing #advantage-bike {
        margin: 0rem auto 0rem auto;
        width: 88vw;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;          
    }

    #page-landing #advantage-bike .advantage-item {
        width: 85%;
        padding: 3% 3% 5% 3%;
        margin-bottom: 10rem;
        border: 2px solid rgba(251, 167, 11, 0.07);
        border-radius: 10px;
    }

    #page-landing #advantage-bike .advantage-item .advantage-txt-center h4 {
        font-size: 3rem;
        margin: 3rem auto;
    }
    
    #page-landing #advantage-bike .advantage-item p {
        font-size: 2rem;
    }

    /* 
    rent a bike
    */

    #page-landing section#rent-bikee {
        flex-flow: column;
        padding-bottom: 15rem;
    }

    #page-landing section#rent-bikee .right-text {
        width: 75%;
        margin: 22rem auto 0 auto;
    }
    
    #page-landing section#rent-bikee .right-text h4 {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
        text-align: center;
    }
    
    #page-landing section#rent-bikee .right-text p {
        margin-bottom: 2.5rem;
        font-size: 1.7rem;
        line-height: 2.9rem;
    }

    #page-landing section#rent-bikee .right-text button.main-button {
        height: 5rem;
    }
}

@media (max-height: 960px) {
    #page-landing #advantage-bike {
        padding-top: 13rem;
    }

    #page-landing section#welcome-area .right-image img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 666px) {
    #page-landing section#welcome-area .right-image {
        margin-top: 10%;
    }
}

@media (max-width: 520px) {
    :root {
        font-size: 60%;
    }

    #page-landing section#rent-bikee .left-image img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #page-landing section#rent-bikee .right-text {
        padding-top: 50%;
        margin-top: 0;
    }

    #page-landing section#rent-bikee .left-image {
        margin-top: 15rem;
    }
}

@media (max-width: 400px) {
    #page-landing section#welcome-area .text-flex h1 {
        font-size: 4.5rem;
    }

    #page-landing section#welcome-area .right-image {
        margin-top: 16%;
    }

}

@media (max-width: 380px) {
    #page-landing section#rent-bikee .left-image {
        margin-top: 20rem;
    }

        #page-landing section#rent-bikee .right-text {
        padding-top: 77%;
    }
}